h1, h2, h3, h4, h5, h6, th {
	font-family: 'Comfortaa', sans-serif;
}

.nice.tabs.green dd a.active { 
	border-top: 3px solid #7FAE00; 
}

th.one.icons, td.one.icons {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

a.action-up:link,
a.action-up:visited,
a.action-down:link,
a.action-down:visited,
a.action-delete:link,
a.action-delete:visited { 
	color: #fff;
}

a.action-up:hover,
a.action-down:hover {
	background-color: transparent;
	color: #7FAE00;
}

a.action-delete:hover {
	background-color: transparent;
	color: #E91C21;
}

.preview-tbody .description:hover {
	cursor: pointer;
}

#xml-code, #jsp-code, #sql-code {
	font-family: monospace;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
	height: 220px;
	background-color: transparent;
	border: 0px solid #fff;
	margin-bottom: 0;
	cursor: pointer;
}

dl.contained.tabs dd a {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	margin-right: 3px;
}

.preview-sample {
	-webkit-transition: background 120ms linear;
	-moz-transition: background 120ms linear;
	-ms-transition: background 120ms linear;
	-o-transition: background 120ms linear;
	transition: background 120ms linear;
}

.preview-sample:hover {
	background-color: rgba(127, 174, 0, 0.3);
	-webkit-transition: background 280ms linear;
	-moz-transition: background 280ms linear;
	-ms-transition: background 280ms linear;
	-o-transition: background 280ms linear;
	transition: background 280ms linear;
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.preview-sample.while-dragging {
	background-color: rgba(127, 174, 0, 0.8);
	-webkit-transition: background 280ms linear;
	-moz-transition: background 280ms linear;
	-ms-transition: background 280ms linear;
	-o-transition: background 280ms linear;
	transition: background 280ms linear;
	cursor: move;
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
}

.preview-sample.while-mousedown > td {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */	background-color: rgba(127, 174, 0, 0.8);
	-webkit-transition: background 280ms linear;
	-moz-transition: background 280ms linear;
	-ms-transition: background 280ms linear;
	-o-transition: background 280ms linear;
	transition: background 280ms linear;
	cursor: move;
background: #bcd296; /* Old browsers */
background: -moz-linear-gradient(top, #bcd296 0%, #c0d4a0 50%, #aed076 51%, #acd466 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcd296), color-stop(50%,#c0d4a0), color-stop(51%,#aed076), color-stop(100%,#acd466)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bcd296 0%,#c0d4a0 50%,#aed076 51%,#acd466 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bcd296 0%,#c0d4a0 50%,#aed076 51%,#acd466 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #bcd296 0%,#c0d4a0 50%,#aed076 51%,#acd466 100%); /* IE10+ */
background: linear-gradient(top, #bcd296 0%,#c0d4a0 50%,#aed076 51%,#acd466 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd296', endColorstr='#acd466',GradientType=0 ); /* IE6-9 */
}

.preview-sample .description input {
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	margin: 0 4px 0 0;
	border: 1px solid silver;
	padding: 2px;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.preview-sample .description input:focus {
	outline: 1px solid #7FAE00;
}

.compat-rows .row {
	margin-bottom: 0;
}
.compat-rows .row p {
	margin-bottom: 5px;
}

input[type="text"],
textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#directInput {
	height: 144px;
}