body {
	padding: 1em 2em;
	max-width: 1200px;
	margin: 0 auto;
	font-family: Verdana, Arial, serif;
	line-height: 220%;
}

.title {
	font-size: 2em;
	color: #fff;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #454545;
	text-align: center;
}

.subtitle {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #9A9A9A;
	color: #fff;
	text-align: left;
}

fieldset {
	float: left;
	width: 100%;
}

.row {
	float: left;
	width: 100%;
	margin: 1em 0;
	padding: 0 0 0 0;
	/*
	border-top: 2px solid #9E9E9E;
	background-image: url(vline.png);
	*/
	background-repeat: repeat-y;
	background-position: 50% 10px;
}

.col_s {
	float: left;
	width: 49%;
	margin: 0;
	padding: 0;
}

.col_d {
	float: left;
	width: 49%;
	margin: 0 0 0 2%;
	padding: 0;
}

#actions {
	text-align: center;
	background-image: none;
}

form, fieldset, legend {
	margin: 0;
	padding: 0;
	border: 0;
}

input[type=text],textarea, select {
	border: 1px solid #777777;
	color: #454545;
}
#how,#where {
	width: 90px;
}

.buttons {
	text-align: center;
}

button {
	border: 1px solid #777777;
	color: #454545;
	padding: 0.5em 2em;
	font-size: 0.9em;
}
button:hover {
	border: 1px solid #000;
	color: #fff;
	background-color: #000;
	cursor: pointer;
}
#directInput {
	width: 100%;
	height: 150px;
}

#result_aux,#jsp_aux {
	float: left;
	width: 97%;
	margin: 1em 0;
	padding: 0.5em 1%;
	border: 1px solid #777777;
    color: #454545;
	font-size: 1em;
}

#result {
	margin: 0;
	padding: 0;
	float: left;
	width: 98%;
}

#result,#jspcode,.riempie {
	font-family: monospace;
}

.riempie {
	margin: 0;
	padding: 0;
}

#result .selected {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid #fafafa;
	background-color: #fafafa;
}

.toolbar {
	border-top: 1px solid #fafafa;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-family: Verdana, Arial, serif;
	background-color: #fafafa;
	text-align: center;
}
.toolbar a {
	padding: 0 0.5em;
}

.noscreen {
	display: none;
	visibility: hidden;
	position: absolute;
	top: -9999em;
	left: -9999em;
	margin: 0;
	padding: 0;
	font-size: 1px;
	line-height: 1px;
}

/*********************/

.riempie {
}

#result div {
}

.span1,.span3 {
}

.span2 {
}

.span2 input {
}

.span1,.span3 {
	cursor: pointer;
}

#result div.toolbar,.toolbar {
}

.toolbar a:link,.toolbar a:visited {
}

#result div.selected {
}

#descr {
	width: 60%;
}

